<a href="https://colab.research.google.com/github/Farrukh-Maruf/Data-Science/blob/main/03_PANDAS_yakuniy_vazifa_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![Imgur](https://i.imgur.com/5pXzCIu.png)

# Data Science va Sun'iy Intellekt Praktikum

## Ma'lumotlar tahlili. Pandas kutubxonasi.

### PANDAS. Yakuniy vazifa. **2-Qism**

## Dataset
#### Ushbu vazifada biz turli davlatlarning turli yillarda elektr tokini qanday manbaalardan olganini ko'rsatuvchi jadval bilan ishlaymiz.
Jadval ustunlari ko'mir, gaz, gidro va boshqa manbaalardan ko'rsatilgan yilda qancha __terravat/soat__ energiya olinganini ko'rsatadi.

In [1]:
import pandas as pd
import numpy as np

In [153]:
df = pd.read_csv("https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/Electricity_Production_By_Source.csv")
df.columns = ['davlat','kod','yil','komir','gaz','gidro','yangilanuvchi','quyosh','neft','shamol','atom']
df

,davlat,kod,yil,komir,gaz,gidro,yangilanuvchi,quyosh,neft,shamol,atom
0,Afghanistan,AFG,2000,0.000000,0.155,0.312,0.000000,0.000,0.0,0.0,0.0
1,Afghanistan,AFG,2001,0.000000,0.094,0.498,0.000000,0.000,0.0,0.0,0.0
2,Afghanistan,AFG,2002,0.000000,0.132,0.555,0.000000,0.000,0.0,0.0,0.0
3,Afghanistan,AFG,2003,0.000000,0.309,0.630,0.000000,0.000,0.0,0.0,0.0
4,Afghanistan,AFG,2004,0.000000,0.329,0.565,0.000000,0.000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
6236,Zimbabwe,ZWE,2015,4.311780,0.000,4.940,0.128000,0.008,0.0,0.0,0.0
6237,Zimbabwe,ZWE,2016,3.714880,0.000,2.955,0.147000,0.009,0.0,0.0,0.0
6238,Zimbabwe,ZWE,2017,3.218560,0.000,3.929,0.151000,0.011,0.0,0.0,0.0
6239,Zimbabwe,ZWE,2018,3.932020,0.000,5.000,0.187000,0.014,0.0,0.0,0.0
6240,Zimbabwe,ZWE,2019,3.805433,0.000,5.020,0.206667,0.014,0.0,0.0,0.0

### 1-VAZIFA. DF hajmini chiqaring

In [3]:
# JAVOBNI SHUYERGA 
df.value_counts()

davlat       kod  yil   komir     gaz       gidro  yangilanuvchi  quyosh  neft      shamol  atom
Afghanistan  AFG  2000  0.000000  0.155000  0.312  0.000000       0.000   0.000000  0.000   0.0     1
Panama       PAN  2001  0.541150  0.721534  2.474  0.023000       0.000   1.183316  0.000   0.0     1
                  2017  0.648850  0.865133  7.181  0.032000       0.156   1.418818  0.490   0.0     1
                  2016  0.756159  1.008212  6.458  0.033000       0.071   1.653468  0.625   0.0     1
                  2015  0.743058  0.990743  6.194  0.034000       0.016   1.624819  0.420   0.0     1
                                                                                                   ..
Gibraltar    GIB  2008  0.000000  0.000000  0.000  0.000000       0.000   0.156040  0.000   0.0     1
                  2007  0.000000  0.000000  0.000  0.000000       0.000   0.145700  0.000   0.0     1
                  2006  0.000000  0.000000  0.000  0.000000       0.000   0.141940  0.000   0.0     1
                  2005  0.000000  0.000000  0.000  0.000000       0.000   0.136300  0.000   0.0     1
Zimbabwe     ZWE  2019  3.805433  0.000000  5.020  0.206667       0.014   0.000000  0.000   0.0     1
Length: 4734, dtype: int64

### 2-VAZIFA. Jadvalda mavjud davlatlar ro'yxatini alohida chiqaring

In [4]:
# JAVOBNI SHUYERGA YOZING
df['davlat'].unique()

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'American Samoa',
       'Angola', 'Antarctica', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Asia Pacific', 'Australia', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'CIS', 'Cambodia', 'Cameroon', 'Canada',
       'Cayman Islands', 'Central African Republic', 'Central America',
       'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo',
       'Cook Islands', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus',
       'Czechia', 'Democratic Republic of Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'EU-27', 'EU27+1',
       'Eastern Africa', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Europe',
       'Europe (other)', 'Falkland Islands', 'Faroe Islands', 'Fiji',
       'Finland', 'France', 'French Guiana', 'French Polynesia', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece',
       'Greenland', 'Grenada', 'Guadeloupe', 'Guam', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo', 'Kuwait',
       'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia',
       'Libya', 'Lithuania', 'Luxembourg', 'Macau', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Martinique',
       'Mauritania', 'Mauritius', 'Mexico', 'Middle Africa',
       'Middle East', 'Moldova', 'Mongolia', 'Montenegro', 'Montserrat',
       'Morocco', 'Mozambique', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'Netherlands Antilles', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North America', 'North Korea', 'North Macedonia', 'Norway',
       'Oman', 'Other Asia & Pacific', 'Other CIS', 'Other Caribbean',
       'Other Middle East', 'Other Northern Africa',
       'Other South America', 'Other Southern Africa', 'Pakistan',
       'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Reunion', 'Romania', 'Russia', 'Rwanda', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Solomon Islands', 'Somalia',
       'South & Central America', 'South Africa', 'South Korea',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Turks and Caicos Islands',
       'U.S. Pacific Islands', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'United States Virgin Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela', 'Vietnam', 'Western Africa', 'Western Sahara',
       'World', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [154]:
dfus

,davlat,kod,komir,gaz,gidro,yangilanuvchi,quyosh,neft,shamol,atom
yil,,,,,,,,,,
1985,United States,USA,1507.664651,313.920392,287.182362,36.392894,0.010737,107.744380,0.005820,403.884976
1986,United States,USA,1490.141346,267.213369,296.974969,38.701672,0.014174,146.865448,0.004231,435.829540
1987,United States,USA,1573.958375,293.140648,255.410195,42.665433,0.010603,127.411367,0.003577,479.231981
1988,United States,USA,1656.615886,271.828714,228.384649,42.394061,0.009186,160.107055,0.000880,554.708470
1989,United States,USA,1711.442534,379.170824,274.724178,48.854268,0.253132,176.729591,2.133377,557.215492
1990,United States,USA,1725.155171,400.822746,292.280914,57.459315,0.370795,135.978712,2.816768,607.222819
1991,United States,USA,1722.535851,410.272061,287.326014,60.551763,0.478253,128.765132,2.980759,644.805355
1992,United States,USA,1757.501372,434.488572,251.425678,64.815412,0.408844,107.692648,2.916690,651.343435
1993,United States,USA,1831.210785,446.157847,279.250946,66.924724,0.475162,121.277613,3.036189,642.411804
1994,United States,USA,1832.271952,494.858798,259.341321,66.354857,0.501873,113.872025,3.481928,674.147192
1995,United States,USA,1853.006902,533.395640,311.219815,63.265079,0.514472,80.165661,3.196215,708.844340
1996,United States,USA,1945.754200,489.307071,347.549480,64.825960,0.541341,87.538952,3.266736,710.240575
1997,United States,USA,1998.243409,515.482441,355.973121,65.820084,0.532696,99.521369,3.321247,661.730706
1998,United States,USA,2029.040774,571.244198,322.089274,65.617126,0.524659,138.494810,3.056259,709.160109
1999,United States,USA,2037.863243,598.275405,316.605182,66.477721,0.518342,126.947138,4.533331,766.583288
2000,United States,USA,1966.265000,614.993000,270.034000,74.819000,0.493000,116.015000,5.593000,753.893000
2001,United States,USA,1903.955943,648.168593,208.137599,63.488559,0.542755,136.786564,6.737332,768.826308
2002,United States,USA,1933.130354,702.468431,255.585905,68.200062,0.554831,108.094305,10.354279,780.064087
2003,United States,USA,1973.736750,665.507561,267.271263,67.765320,0.534001,133.450147,11.187467,763.732695
2004,United States,USA,1978.300549,725.352447,259.929098,68.348428,0.575155,135.377458,14.143741,788.528387
2005,United States,USA,2012.873046,774.424398,263.763467,68.968555,0.550294,135.046076,17.810549,781.986365
2006,United States,USA,1990.511135,830.617578,282.688574,69.428650,0.507706,77.140813,26.589137,787.218636
2007,United States,USA,2016.455584,910.043145,240.613622,70.175791,0.611793,77.970109,34.449927,806.424753
2008,United States,USA,1985.801247,894.687475,248.543323,69.873588,0.864315,58.046277,55.363100,806.208435
2009,United States,USA,1755.904253,931.610787,268.817749,69.501392,0.891179,50.864849,73.886132,798.854585
2010,United States,USA,1847.290279,999.010021,254.701937,71.308579,1.212182,49.916355,94.652246,806.968301
2011,United States,USA,1733.430005,1025.255129,312.934388,71.986898,1.817696,44.335845,120.176599,790.204367
2012,United States,USA,1514.042945,1237.791760,271.289723,73.184591,4.326675,36.976608,140.821715,769.331249
2013,United States,USA,1581.114716,1137.688497,263.884350,76.632701,9.035620,40.751966,167.839745,789.016473
2014,United States,USA,1581.710350,1138.630744,253.193074,79.866385,28.923690,43.693157,181.655282,797.165982
2015,United States,USA,1352.398197,1346.598808,243.988597,79.549452,39.032171,42.276556,190.718548,797.177877
2016,United States,USA,1239.148654,1391.114366,261.126026,78.586265,54.866492,37.959041,226.992562,805.693948
2017,United States,USA,1205.835275,1308.883659,293.838608,78.688434,77.276459,34.486074,254.302662,804.949635
2018,United States,USA,1145.962192,1482.189373,286.619450,77.868208,93.364598,38.198843,272.649789,807.084477
2019,United States,USA,964.957000,1598.303000,282.613000,72.980000,106.894000,31.772000,294.906000,809.409262
2020,United States,USA,773.805528,1629.236806,285.789644,72.984923,132.630484,28.947190,336.533331,789.918631

In [5]:
#@title Kutilgan natija

### 3-VAZIFA. DF dan faqat AQSh (`United States`) uchun ma'lumotlarni ajratib oling va yangi `dfus` nomli o'zgaruvchiga saqlang

In [6]:
# JAVOBNI SHUYERGA YOZING
dfus = df[df['davlat'].isin(['United States'])]
dfus

,davlat,kod,yil,komir,gaz,gidro,yangilanuvchi,quyosh,neft,shamol,atom
5887,United States,USA,1985,1507.664651,313.920392,287.182362,36.392894,0.010737,107.744380,0.005820,403.884976
5888,United States,USA,1986,1490.141346,267.213369,296.974969,38.701672,0.014174,146.865448,0.004231,435.829540
5889,United States,USA,1987,1573.958375,293.140648,255.410195,42.665433,0.010603,127.411367,0.003577,479.231981
5890,United States,USA,1988,1656.615886,271.828714,228.384649,42.394061,0.009186,160.107055,0.000880,554.708470
5891,United States,USA,1989,1711.442534,379.170824,274.724178,48.854268,0.253132,176.729591,2.133377,557.215492
5892,United States,USA,1990,1725.155171,400.822746,292.280914,57.459315,0.370795,135.978712,2.816768,607.222819
5893,United States,USA,1991,1722.535851,410.272061,287.326014,60.551763,0.478253,128.765132,2.980759,644.805355
5894,United States,USA,1992,1757.501372,434.488572,251.425678,64.815412,0.408844,107.692648,2.916690,651.343435
5895,United States,USA,1993,1831.210785,446.157847,279.250946,66.924724,0.475162,121.277613,3.036189,642.411804
5896,United States,USA,1994,1832.271952,494.858798,259.341321,66.354857,0.501873,113.872025,3.481928,674.147192
5897,United States,USA,1995,1853.006902,533.395640,311.219815,63.265079,0.514472,80.165661,3.196215,708.844340
5898,United States,USA,1996,1945.754200,489.307071,347.549480,64.825960,0.541341,87.538952,3.266736,710.240575
5899,United States,USA,1997,1998.243409,515.482441,355.973121,65.820084,0.532696,99.521369,3.321247,661.730706
5900,United States,USA,1998,2029.040774,571.244198,322.089274,65.617126,0.524659,138.494810,3.056259,709.160109
5901,United States,USA,1999,2037.863243,598.275405,316.605182,66.477721,0.518342,126.947138,4.533331,766.583288
5902,United States,USA,2000,1966.265000,614.993000,270.034000,74.819000,0.493000,116.015000,5.593000,753.893000
5903,United States,USA,2001,1903.955943,648.168593,208.137599,63.488559,0.542755,136.786564,6.737332,768.826308
5904,United States,USA,2002,1933.130354,702.468431,255.585905,68.200062,0.554831,108.094305,10.354279,780.064087
5905,United States,USA,2003,1973.736750,665.507561,267.271263,67.765320,0.534001,133.450147,11.187467,763.732695
5906,United States,USA,2004,1978.300549,725.352447,259.929098,68.348428,0.575155,135.377458,14.143741,788.528387
5907,United States,USA,2005,2012.873046,774.424398,263.763467,68.968555,0.550294,135.046076,17.810549,781.986365
5908,United States,USA,2006,1990.511135,830.617578,282.688574,69.428650,0.507706,77.140813,26.589137,787.218636
5909,United States,USA,2007,2016.455584,910.043145,240.613622,70.175791,0.611793,77.970109,34.449927,806.424753
5910,United States,USA,2008,1985.801247,894.687475,248.543323,69.873588,0.864315,58.046277,55.363100,806.208435
5911,United States,USA,2009,1755.904253,931.610787,268.817749,69.501392,0.891179,50.864849,73.886132,798.854585
5912,United States,USA,2010,1847.290279,999.010021,254.701937,71.308579,1.212182,49.916355,94.652246,806.968301
5913,United States,USA,2011,1733.430005,1025.255129,312.934388,71.986898,1.817696,44.335845,120.176599,790.204367
5914,United States,USA,2012,1514.042945,1237.791760,271.289723,73.184591,4.326675,36.976608,140.821715,769.331249
5915,United States,USA,2013,1581.114716,1137.688497,263.884350,76.632701,9.035620,40.751966,167.839745,789.016473
5916,United States,USA,2014,1581.710350,1138.630744,253.193074,79.866385,28.923690,43.693157,181.655282,797.165982
5917,United States,USA,2015,1352.398197,1346.598808,243.988597,79.549452,39.032171,42.276556,190.718548,797.177877
5918,United States,USA,2016,1239.148654,1391.114366,261.126026,78.586265,54.866492,37.959041,226.992562,805.693948
5919,United States,USA,2017,1205.835275,1308.883659,293.838608,78.688434,77.276459,34.486074,254.302662,804.949635
5920,United States,USA,2018,1145.962192,1482.189373,286.619450,77.868208,93.364598,38.198843,272.649789,807.084477
5921,United States,USA,2019,964.957000,1598.303000,282.613000,72.980000,106.894000,31.772000,294.906000,809.409262
5922,United States,USA,2020,773.805528,1629.236806,285.789644,72.984923,132.630484,28.947190,336.533331,789.918631

In [7]:
#@title Kutilgan natija
dfus.head(6)

,davlat,kod,yil,komir,gaz,gidro,yangilanuvchi,quyosh,neft,shamol,atom
5887,United States,USA,1985,1507.664651,313.920392,287.182362,36.392894,0.010737,107.744380,0.005820,403.884976
5888,United States,USA,1986,1490.141346,267.213369,296.974969,38.701672,0.014174,146.865448,0.004231,435.829540
5889,United States,USA,1987,1573.958375,293.140648,255.410195,42.665433,0.010603,127.411367,0.003577,479.231981
5890,United States,USA,1988,1656.615886,271.828714,228.384649,42.394061,0.009186,160.107055,0.000880,554.708470
5891,United States,USA,1989,1711.442534,379.170824,274.724178,48.854268,0.253132,176.729591,2.133377,557.215492
5892,United States,USA,1990,1725.155171,400.822746,292.280914,57.459315,0.370795,135.978712,2.816768,607.222819

### 4-VAZIFA. `dfus` jadvalining indeksini `yil` ustuni bilan o'zgartiring. DF dan `yil` ustunini tashlab yuboring.

In [8]:
# JAVOBNI SHUYERGA YOZING
dfus.set_index(dfus.columns[2], inplace=True)
dfus

,davlat,kod,komir,gaz,gidro,yangilanuvchi,quyosh,neft,shamol,atom
yil,,,,,,,,,,
1985,United States,USA,1507.664651,313.920392,287.182362,36.392894,0.010737,107.744380,0.005820,403.884976
1986,United States,USA,1490.141346,267.213369,296.974969,38.701672,0.014174,146.865448,0.004231,435.829540
1987,United States,USA,1573.958375,293.140648,255.410195,42.665433,0.010603,127.411367,0.003577,479.231981
1988,United States,USA,1656.615886,271.828714,228.384649,42.394061,0.009186,160.107055,0.000880,554.708470
1989,United States,USA,1711.442534,379.170824,274.724178,48.854268,0.253132,176.729591,2.133377,557.215492
1990,United States,USA,1725.155171,400.822746,292.280914,57.459315,0.370795,135.978712,2.816768,607.222819
1991,United States,USA,1722.535851,410.272061,287.326014,60.551763,0.478253,128.765132,2.980759,644.805355
1992,United States,USA,1757.501372,434.488572,251.425678,64.815412,0.408844,107.692648,2.916690,651.343435
1993,United States,USA,1831.210785,446.157847,279.250946,66.924724,0.475162,121.277613,3.036189,642.411804
1994,United States,USA,1832.271952,494.858798,259.341321,66.354857,0.501873,113.872025,3.481928,674.147192
1995,United States,USA,1853.006902,533.395640,311.219815,63.265079,0.514472,80.165661,3.196215,708.844340
1996,United States,USA,1945.754200,489.307071,347.549480,64.825960,0.541341,87.538952,3.266736,710.240575
1997,United States,USA,1998.243409,515.482441,355.973121,65.820084,0.532696,99.521369,3.321247,661.730706
1998,United States,USA,2029.040774,571.244198,322.089274,65.617126,0.524659,138.494810,3.056259,709.160109
1999,United States,USA,2037.863243,598.275405,316.605182,66.477721,0.518342,126.947138,4.533331,766.583288
2000,United States,USA,1966.265000,614.993000,270.034000,74.819000,0.493000,116.015000,5.593000,753.893000
2001,United States,USA,1903.955943,648.168593,208.137599,63.488559,0.542755,136.786564,6.737332,768.826308
2002,United States,USA,1933.130354,702.468431,255.585905,68.200062,0.554831,108.094305,10.354279,780.064087
2003,United States,USA,1973.736750,665.507561,267.271263,67.765320,0.534001,133.450147,11.187467,763.732695
2004,United States,USA,1978.300549,725.352447,259.929098,68.348428,0.575155,135.377458,14.143741,788.528387
2005,United States,USA,2012.873046,774.424398,263.763467,68.968555,0.550294,135.046076,17.810549,781.986365
2006,United States,USA,1990.511135,830.617578,282.688574,69.428650,0.507706,77.140813,26.589137,787.218636
2007,United States,USA,2016.455584,910.043145,240.613622,70.175791,0.611793,77.970109,34.449927,806.424753
2008,United States,USA,1985.801247,894.687475,248.543323,69.873588,0.864315,58.046277,55.363100,806.208435
2009,United States,USA,1755.904253,931.610787,268.817749,69.501392,0.891179,50.864849,73.886132,798.854585
2010,United States,USA,1847.290279,999.010021,254.701937,71.308579,1.212182,49.916355,94.652246,806.968301
2011,United States,USA,1733.430005,1025.255129,312.934388,71.986898,1.817696,44.335845,120.176599,790.204367
2012,United States,USA,1514.042945,1237.791760,271.289723,73.184591,4.326675,36.976608,140.821715,769.331249
2013,United States,USA,1581.114716,1137.688497,263.884350,76.632701,9.035620,40.751966,167.839745,789.016473
2014,United States,USA,1581.710350,1138.630744,253.193074,79.866385,28.923690,43.693157,181.655282,797.165982
2015,United States,USA,1352.398197,1346.598808,243.988597,79.549452,39.032171,42.276556,190.718548,797.177877
2016,United States,USA,1239.148654,1391.114366,261.126026,78.586265,54.866492,37.959041,226.992562,805.693948
2017,United States,USA,1205.835275,1308.883659,293.838608,78.688434,77.276459,34.486074,254.302662,804.949635
2018,United States,USA,1145.962192,1482.189373,286.619450,77.868208,93.364598,38.198843,272.649789,807.084477
2019,United States,USA,964.957000,1598.303000,282.613000,72.980000,106.894000,31.772000,294.906000,809.409262
2020,United States,USA,773.805528,1629.236806,285.789644,72.984923,132.630484,28.947190,336.533331,789.918631

In [9]:
#@title Kutilgan natija

### 5-VAZIFA. AQSh 2020-yilda jami qancha elektr energiyasi ishlab chiqqan?

In [38]:
# JAVOBNI SHUYERGA YOZ
df1 = dfus.loc[[2020]]
df1.sum(axis=1)

<ipython-input-38-987ce0b47b67>:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df1.sum(axis=1)

yil
2020    4049.846537
dtype: float64

In [11]:
#@title O'xshash natija (2018-yil uchun)

### 6-VAZIFA. 2010-2020-yillarda AQSH turli manbaalardan o'rtacha qancha elektr toki olganini chiqaring. Natijani kichikdan kattaga qarab tartiblang.

In [74]:
# JAVOBNI SHUYERGA YOZING
df2 = dfus.loc[[2010,2020]]
df3 = df2.sum(axis=0)
df3

davlat           United StatesUnited States
kod                                  USAUSA
komir                           2621.095807
gaz                             2628.246827
gidro                            540.491582
yangilanuvchi                    144.293503
quyosh                           133.842666
neft                              78.863544
shamol                           431.185577
atom                            1596.886932
dtype: object

In [13]:
#@title O'xshash natija (1990-2000 yillar uchun)

### 7-VAZIFA. AQSH gidro elektr stansiyalardan eng kam va eng ko'p elektr energiyasi olgan yillarni toping.

In [83]:
# JAVOBNI SHUYERGA YOZING
dfus.head()

,davlat,kod,komir,gaz,gidro,yangilanuvchi,quyosh,neft,shamol,atom
yil,,,,,,,,,,
1985,United States,USA,1507.664651,313.920392,287.182362,36.392894,0.010737,107.744380,0.005820,403.884976
1986,United States,USA,1490.141346,267.213369,296.974969,38.701672,0.014174,146.865448,0.004231,435.829540
1987,United States,USA,1573.958375,293.140648,255.410195,42.665433,0.010603,127.411367,0.003577,479.231981
1988,United States,USA,1656.615886,271.828714,228.384649,42.394061,0.009186,160.107055,0.000880,554.708470
1989,United States,USA,1711.442534,379.170824,274.724178,48.854268,0.253132,176.729591,2.133377,557.215492

In [85]:
dfus['gidro'].max()

355.9731212

In [86]:
dfus['gidro'].min()

208.137599

In [87]:
df

,davlat,kod,yil,komir,gaz,gidro,yangilanuvchi,quyosh,neft,shamol,atom
0,Afghanistan,AFG,2000,0.000000,0.155,0.312,0.000000,0.000,0.0,0.0,0.0
1,Afghanistan,AFG,2001,0.000000,0.094,0.498,0.000000,0.000,0.0,0.0,0.0
2,Afghanistan,AFG,2002,0.000000,0.132,0.555,0.000000,0.000,0.0,0.0,0.0
3,Afghanistan,AFG,2003,0.000000,0.309,0.630,0.000000,0.000,0.0,0.0,0.0
4,Afghanistan,AFG,2004,0.000000,0.329,0.565,0.000000,0.000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
6236,Zimbabwe,ZWE,2015,4.311780,0.000,4.940,0.128000,0.008,0.0,0.0,0.0
6237,Zimbabwe,ZWE,2016,3.714880,0.000,2.955,0.147000,0.009,0.0,0.0,0.0
6238,Zimbabwe,ZWE,2017,3.218560,0.000,3.929,0.151000,0.011,0.0,0.0,0.0
6239,Zimbabwe,ZWE,2018,3.932020,0.000,5.000,0.187000,0.014,0.0,0.0,0.0
6240,Zimbabwe,ZWE,2019,3.805433,0.000,5.020,0.206667,0.014,0.0,0.0,0.0

### 8-VAZIFA. 
#### 8.1 Asl `df` dan 2019-yil ma'lumotlarini ajratib oling. 
#### 8.2 Yangi df ga `df19` deb nom bering
#### 8.3 `df19` indeksini `davlat` ustuniga o'zgartiring hamda `davlat` va `yil` ustunlarini tashlab yuboring.
#### 8.4 `df19` dan `World` indeksini o'chirib tashlang

In [118]:
# JAVOBNI SHUYERGA YOZING
df19 = df[df['yil'].isin([2019])]
df19

,davlat,kod,yil,komir,gaz,gidro,yangilanuvchi,quyosh,neft,shamol,atom
19,Afghanistan,AFG,2019,0.000000,0.152000,0.840000,0.000000,0.040000,0.000000,0.000000,0.000000
54,Africa,NaN,2019,253.555978,340.472820,132.734791,8.184247,19.377978,81.274240,17.508052,14.214193
74,Albania,ALB,2019,0.000000,0.000000,5.153940,0.000000,0.022000,0.000000,0.000000,0.000000
94,Algeria,DZA,2019,0.000000,73.615787,0.106440,0.000000,0.615000,0.000000,0.011000,0.000000
129,American Samoa,ASM,2019,0.000000,0.000000,0.000000,0.000000,0.000000,0.163000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
6144,Western Sahara,ESH,2019,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6179,World,OWID_WRL,2019,9081.622041,5943.112329,4261.241023,682.877296,704.023692,1089.307746,1416.947048,2720.674471
6200,Yemen,YEM,2019,0.000000,0.770710,0.000000,0.000000,0.500000,1.242770,0.000000,0.000000
6220,Zambia,ZMB,2019,1.998501,0.000000,13.772427,0.080073,0.000389,1.003232,0.000000,0.000000
6240,Zimbabwe,ZWE,2019,3.805433,0.000000,5.020000,0.206667,0.014000,0.000000,0.000000,0.000000

In [119]:
df19.set_index(df19.columns[0], inplace=True)
df19.drop('yil', axis=1, inplace=True)
df19

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,kod,komir,gaz,gidro,yangilanuvchi,quyosh,neft,shamol,atom
davlat,,,,,,,,,
Afghanistan,AFG,0.000000,0.152000,0.840000,0.000000,0.040000,0.000000,0.000000,0.000000
Africa,NaN,253.555978,340.472820,132.734791,8.184247,19.377978,81.274240,17.508052,14.214193
Albania,ALB,0.000000,0.000000,5.153940,0.000000,0.022000,0.000000,0.000000,0.000000
Algeria,DZA,0.000000,73.615787,0.106440,0.000000,0.615000,0.000000,0.011000,0.000000
American Samoa,ASM,0.000000,0.000000,0.000000,0.000000,0.000000,0.163000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...
Western Sahara,ESH,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
World,OWID_WRL,9081.622041,5943.112329,4261.241023,682.877296,704.023692,1089.307746,1416.947048,2720.674471
Yemen,YEM,0.000000,0.770710,0.000000,0.000000,0.500000,1.242770,0.000000,0.000000
Zambia,ZMB,1.998501,0.000000,13.772427,0.080073,0.000389,1.003232,0.000000,0.000000
Zimbabwe,ZWE,3.805433,0.000000,5.020000,0.206667,0.014000,0.000000,0.000000,0.000000

In [113]:
#@title Kutilgan natija

#### 8.5 `df19` jadvali uchun umumlashtiruvchi statistikani chiqaring

In [120]:
# JAVOBNI SHUYERGA YOZING
df19.describe()

,komir,gaz,gidro,yangilanuvchi,quyosh,neft,shamol,atom
count,226.000000,226.000000,235.000000,234.000000,235.000000,226.000000,235.000000,235.000000
mean,129.417439,89.585789,58.389398,10.264947,10.261934,15.348585,21.585001,41.818841
std,839.339795,450.787077,323.068932,53.304697,57.541697,80.419363,115.303937,222.140845
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.003229,0.042305,0.000000,0.000000
50%,0.000000,0.305775,1.014413,0.031833,0.040000,0.640907,0.008900,0.000000
75%,4.470206,23.741262,12.390915,1.316308,0.775404,3.930326,1.178023,0.000000
max,9081.622041,5943.112329,4261.241023,682.877296,704.023692,1089.307746,1416.947048,2720.674471

### 9-VAZIFA. 2019-yilda har bir davlat jami qancha elektr energiya ishlab chiqarganini DF ko'rinishida chiqaring.
*ishora. `Series` obyektini `DF` ga o'tkazing

In [124]:
df19

,kod,komir,gaz,gidro,yangilanuvchi,quyosh,neft,shamol,atom
davlat,,,,,,,,,
Afghanistan,AFG,0.000000,0.152000,0.840000,0.000000,0.040000,0.000000,0.000000,0.000000
Africa,NaN,253.555978,340.472820,132.734791,8.184247,19.377978,81.274240,17.508052,14.214193
Albania,ALB,0.000000,0.000000,5.153940,0.000000,0.022000,0.000000,0.000000,0.000000
Algeria,DZA,0.000000,73.615787,0.106440,0.000000,0.615000,0.000000,0.011000,0.000000
American Samoa,ASM,0.000000,0.000000,0.000000,0.000000,0.000000,0.163000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...
Western Sahara,ESH,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
World,OWID_WRL,9081.622041,5943.112329,4261.241023,682.877296,704.023692,1089.307746,1416.947048,2720.674471
Yemen,YEM,0.000000,0.770710,0.000000,0.000000,0.500000,1.242770,0.000000,0.000000
Zambia,ZMB,1.998501,0.000000,13.772427,0.080073,0.000389,1.003232,0.000000,0.000000
Zimbabwe,ZWE,3.805433,0.000000,5.020000,0.206667,0.014000,0.000000,0.000000,0.000000

In [123]:
# JAVOBNI SHUYERGA YOZING
df19.sum(axis=1)

<ipython-input-123-1c4b6548ef93>:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df19.sum(axis=1)

davlat
Afghanistan           1.032000
Africa              867.322298
Albania               5.175940
Algeria              74.348227
American Samoa        0.163000
                      ...
Western Sahara        0.000000
World             25899.805647
Yemen                 2.513480
Zambia               16.854622
Zimbabwe              9.046100
Length: 235, dtype: float64

In [19]:
#@title Kutilgan natija

### 10-VAZIFA. 
#### 10.1. Asl DF dan 2000-2020-yillar, `France` uchun `atom`, `komir`, `gaz`, `quyosh` manbaalarini alohida `dffr` jadvaliga ko'chirib oling
#### 10.2. `dffr` jadvalini yil ustuni bo'yicha tartiblang

In [128]:
# JAVOBNI SHUYERGA YOZING
df

,davlat,kod,yil,komir,gaz,gidro,yangilanuvchi,quyosh,neft,shamol,atom
0,Afghanistan,AFG,2000,0.000000,0.155,0.312,0.000000,0.000,0.0,0.0,0.0
1,Afghanistan,AFG,2001,0.000000,0.094,0.498,0.000000,0.000,0.0,0.0,0.0
2,Afghanistan,AFG,2002,0.000000,0.132,0.555,0.000000,0.000,0.0,0.0,0.0
3,Afghanistan,AFG,2003,0.000000,0.309,0.630,0.000000,0.000,0.0,0.0,0.0
4,Afghanistan,AFG,2004,0.000000,0.329,0.565,0.000000,0.000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
6236,Zimbabwe,ZWE,2015,4.311780,0.000,4.940,0.128000,0.008,0.0,0.0,0.0
6237,Zimbabwe,ZWE,2016,3.714880,0.000,2.955,0.147000,0.009,0.0,0.0,0.0
6238,Zimbabwe,ZWE,2017,3.218560,0.000,3.929,0.151000,0.011,0.0,0.0,0.0
6239,Zimbabwe,ZWE,2018,3.932020,0.000,5.000,0.187000,0.014,0.0,0.0,0.0
6240,Zimbabwe,ZWE,2019,3.805433,0.000,5.020,0.206667,0.014,0.0,0.0,0.0

In [149]:
dfr = df[df['davlat'].isin(['France'])]
dfr

,davlat,kod,yil,komir,gaz,gidro,yangilanuvchi,quyosh,neft,shamol,atom
1934,France,FRA,2000,27.004000,11.514000,66.363249,2.986307,0.005223,12.102000,0.048160,415.162000
1935,France,FRA,2001,20.478000,15.146000,74.267427,3.333933,0.006161,10.848000,0.131240,421.076000
1936,France,FRA,2002,23.658000,18.369000,60.396612,3.537433,0.007104,10.637000,0.265590,436.760000
1937,France,FRA,2003,26.260000,19.368000,58.943640,3.717368,0.007767,11.749000,0.387750,441.070000
1938,France,FRA,2004,24.372000,21.049000,59.554935,3.782176,0.008448,11.108000,0.594850,448.241000
1939,France,FRA,2005,27.515000,23.069000,51.479877,3.871895,0.010501,12.772000,0.962570,451.529000
1940,France,FRA,2006,22.889000,21.760000,56.303697,3.841265,0.012103,12.253000,2.182580,450.191000
1941,France,FRA,2007,24.446000,21.987000,57.604417,4.216292,0.017572,11.738000,4.070110,439.730000
1942,France,FRA,2008,23.063000,21.884000,63.653661,4.436119,0.041692,10.632112,5.694210,439.447000
1943,France,FRA,2009,21.667000,20.503000,56.994200,4.578197,0.173971,9.148197,7.911570,409.736000
1944,France,FRA,2010,23.359000,23.758000,62.713617,4.917397,0.620000,10.507113,9.944990,428.521000
1945,France,FRA,2011,17.807444,29.489144,45.744622,5.575863,2.333802,12.094812,12.371621,442.387763
1946,France,FRA,2012,21.449981,22.753254,59.831830,5.770286,4.427930,12.160755,15.178400,425.406017
1947,France,FRA,2013,23.830994,18.393269,71.922175,6.040992,5.193590,11.015850,16.126736,423.684671
1948,France,FRA,2014,11.242305,13.162876,63.773409,6.472483,6.391477,11.164045,17.323779,436.479009
1949,France,FRA,2015,11.873673,21.143153,55.556272,7.101493,7.753328,11.590929,21.420602,437.427808
1950,France,FRA,2016,10.344460,34.967086,60.839210,8.133506,8.659160,11.253040,21.380984,403.195482
1951,France,FRA,2017,12.818153,40.500366,50.001257,8.420927,9.584882,11.782692,24.609437,398.359129
1952,France,FRA,2018,8.412694,30.587768,65.284601,8.945082,10.568737,10.630602,28.599041,412.941812
1953,France,FRA,2019,4.412694,37.587768,57.284601,8.945082,12.568737,11.630602,33.599041,398.941812
1954,France,FRA,2020,4.275487,34.245560,62.064907,8.786582,13.190057,11.526363,39.231956,355.190804
1955,France,FRA,1985,NaN,NaN,62.453334,1.652150,0.000000,NaN,0.000000,224.100000
1956,France,FRA,1986,NaN,NaN,63.010845,1.662800,0.000000,NaN,0.000000,254.155000
1957,France,FRA,1987,NaN,NaN,71.087556,1.750600,0.000000,NaN,0.000000,265.520000
1958,France,FRA,1988,NaN,NaN,77.117290,1.773250,0.000000,NaN,0.000000,275.521000
1959,France,FRA,1989,NaN,NaN,46.842294,1.841450,0.000000,NaN,0.000000,303.931000
1960,France,FRA,1990,NaN,NaN,53.866000,1.913000,0.000000,NaN,0.000272,314.081000
1961,France,FRA,1991,NaN,NaN,57.602000,2.102000,0.000000,NaN,0.000490,331.340000
1962,France,FRA,1992,NaN,NaN,68.956000,2.134000,0.001488,NaN,0.000490,338.445000
1963,France,FRA,1993,NaN,NaN,64.895000,1.974000,0.001683,NaN,0.002402,368.188000
1964,France,FRA,1994,NaN,NaN,78.794000,2.157000,0.001878,NaN,0.004704,359.981000
1965,France,FRA,1995,NaN,NaN,73.119000,2.329000,0.002040,NaN,0.004714,377.231000
1966,France,FRA,1996,NaN,NaN,66.044000,2.423000,0.002650,NaN,0.007430,397.340000
1967,France,FRA,1997,NaN,NaN,63.764000,2.675000,0.003407,NaN,0.011128,395.483000
1968,France,FRA,1998,NaN,NaN,62.093000,2.653000,0.004089,NaN,0.019497,387.990000
1969,France,FRA,1999,NaN,NaN,72.514000,2.853000,0.004548,NaN,0.036944,394.244000

In [150]:
dfr = dfr.loc[dfr['yil']>=2000]
dfr

,davlat,kod,yil,komir,gaz,gidro,yangilanuvchi,quyosh,neft,shamol,atom
1934,France,FRA,2000,27.004000,11.514000,66.363249,2.986307,0.005223,12.102000,0.048160,415.162000
1935,France,FRA,2001,20.478000,15.146000,74.267427,3.333933,0.006161,10.848000,0.131240,421.076000
1936,France,FRA,2002,23.658000,18.369000,60.396612,3.537433,0.007104,10.637000,0.265590,436.760000
1937,France,FRA,2003,26.260000,19.368000,58.943640,3.717368,0.007767,11.749000,0.387750,441.070000
1938,France,FRA,2004,24.372000,21.049000,59.554935,3.782176,0.008448,11.108000,0.594850,448.241000
1939,France,FRA,2005,27.515000,23.069000,51.479877,3.871895,0.010501,12.772000,0.962570,451.529000
1940,France,FRA,2006,22.889000,21.760000,56.303697,3.841265,0.012103,12.253000,2.182580,450.191000
1941,France,FRA,2007,24.446000,21.987000,57.604417,4.216292,0.017572,11.738000,4.070110,439.730000
1942,France,FRA,2008,23.063000,21.884000,63.653661,4.436119,0.041692,10.632112,5.694210,439.447000
1943,France,FRA,2009,21.667000,20.503000,56.994200,4.578197,0.173971,9.148197,7.911570,409.736000
1944,France,FRA,2010,23.359000,23.758000,62.713617,4.917397,0.620000,10.507113,9.944990,428.521000
1945,France,FRA,2011,17.807444,29.489144,45.744622,5.575863,2.333802,12.094812,12.371621,442.387763
1946,France,FRA,2012,21.449981,22.753254,59.831830,5.770286,4.427930,12.160755,15.178400,425.406017
1947,France,FRA,2013,23.830994,18.393269,71.922175,6.040992,5.193590,11.015850,16.126736,423.684671
1948,France,FRA,2014,11.242305,13.162876,63.773409,6.472483,6.391477,11.164045,17.323779,436.479009
1949,France,FRA,2015,11.873673,21.143153,55.556272,7.101493,7.753328,11.590929,21.420602,437.427808
1950,France,FRA,2016,10.344460,34.967086,60.839210,8.133506,8.659160,11.253040,21.380984,403.195482
1951,France,FRA,2017,12.818153,40.500366,50.001257,8.420927,9.584882,11.782692,24.609437,398.359129
1952,France,FRA,2018,8.412694,30.587768,65.284601,8.945082,10.568737,10.630602,28.599041,412.941812
1953,France,FRA,2019,4.412694,37.587768,57.284601,8.945082,12.568737,11.630602,33.599041,398.941812
1954,France,FRA,2020,4.275487,34.245560,62.064907,8.786582,13.190057,11.526363,39.231956,355.190804

In [21]:
#@title Kutilgan natija

#### 10.3 `dffr`uchun Korrelyasiya jadvalini chiqaring.

In [152]:
# JAVOBNI SHUYERGA YOZING
dfr.corr()

,yil,komir,gaz,gidro,yangilanuvchi,quyosh,neft,shamol,atom
yil,1.000000,-0.866541,0.732072,-0.166143,0.969236,0.918831,-0.041041,0.961543,-0.606801
komir,-0.866541,1.000000,-0.665521,0.067225,-0.918671,-0.933234,0.059284,-0.921549,0.677929
gaz,0.732072,-0.665521,1.000000,-0.466301,0.777808,0.706133,0.130629,0.722891,-0.561700
gidro,-0.166143,0.067225,-0.466301,1.000000,-0.125187,-0.036596,-0.400671,-0.069415,-0.180577
yangilanuvchi,0.969236,-0.918671,0.777808,-0.125187,1.000000,0.972688,-0.010618,0.972950,-0.668576
quyosh,0.918831,-0.933234,0.706133,-0.036596,0.972688,1.000000,0.065282,0.974897,-0.726689
neft,-0.041041,0.059284,0.130629,-0.400671,-0.010618,0.065282,1.000000,-0.013924,0.183947
shamol,0.961543,-0.921549,0.722891,-0.069415,0.972950,0.974897,-0.013924,1.000000,-0.749097
atom,-0.606801,0.677929,-0.561700,-0.180577,-0.668576,-0.726689,0.183947,-0.749097,1.000000